* {
    font-family: "Poppins", sans-serif;
}

.movieBoxContainer {
    width: 100%;
    height: auto;
}

.movieBox {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.descriptionBox {
    margin-top: 1rem;
}

img {
    max-width: 200px;
    cursor: pointer;
}

span {
    font-weight: 1000;
}



